<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/905d7a3a95.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__logo">
      <i class="fas fa-adjust"></i>
      <a href="#">bellush</a>
    </div>
    <div class="navbar__menu">
      <ul class="navbar__munu">
        <li class="navbar__menu__item">Home</li>
        <li class="navbar__menu__item">About</li>
        <li class="navbar__menu__item">Skills</li>
        <li class="navbar__menu__item">My work</li>
        <li class="navbar__menu__item">Terminal</li>
        <li class="navbar__menu__item">Contact</li>
      </ul>
    </div>
  <!-- About -->
    <section id="about"></section>
    <!-- Skills -->
    <section id="skills"></section>
    <!-- Work -->
    <section id="work"></section>
    <!-- Testimonial -->
    <section id="testmonials"></section>
    <!-- Contact -->
    <section id="contact"></section>
  </nav>
</body>
</html>